<section id="social-section" class="social-section">
  <a mat-fab extended class="social-section__btn social-section__btn--facebook" href="#" target="_blank" rel="noopener" aria-label="Facebook">
    <span class="social-section__icon social-section__icon--f">f</span>
    Facebook
  </a>
  <a mat-fab extended class="social-section__btn social-section__btn--twitter" href="#" target="_blank" rel="noopener" aria-label="Twitter">
    <span class="social-section__icon social-section__icon--x">𝕏</span>
    Twitter
  </a>
</section>
